.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px auto;
    width: 456px;
    height: 456px;
    border: 2px solid black;
}

.field {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: lightblue;
    font-size: 100px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

